.container {
    width: 50%;
    min-height: 200px;
    border: 1px solid green;
    background-color: crimson;
    margin: 20px auto;
    border-radius: 5px;
}

.form-group {
    margin: auto;
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}

input,
button {
    margin: auto;
    display: block;
}

input {
    width: 50%;
    border: 0;
    border: 1px solid brown;
    height: 28px;
    border-radius: 8px;
}

button {
    border: 0;
    width: 25%;
    height: 39px;
    background-color: rgb(205, 226, 84);
    border-radius: 6px;
}

.notes,
h1 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.form-button {
    display: inline;
    margin-left: 10px;
}